.main-section.-main-form {
    padding-left: 40px;
    padding-right: 40px;
    
}

.main-section.-main-form .main-button{
    margin-top: 20px;

}
.main-section.-main-form .main-button:hover{
    transform: scale(1.03);
    
}

.main-section.-main-form h2 {
    padding-top: 10px;
}
